<clients>
    <div>
        <section class ="container mx-auto px-4 md:container md:mx-auto mb-8" id = "Servicios">
        <div class="py-4 bg-gray-50">  
            <div class=" text-center text-4xl text-sky hover:text-blue-800 duration-500 font-medium leading-tight mb-8 capitalize">
                <h1>servicios</h1>
                <hr class="border-4 border-gray-500 cursor-pointer hover:border-blue-400 duration-500" mb-8/>
            </div>
            <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-0">
                <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
                    <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                        <div class="mb-12 space-y-4">
                            <h3 class="text-2xl font-semibold text-blue-900">Implementaciones en la nube</h3>
                            <p class="mb-6">La adopción y control de gastos y seguridad en la nube es un tema que hoy en día te puede generar dolores de cabeza, una correcta asesoría de estos temas te pueden ayudar a que la nube sea tu mejor aliada en el crecimiento de tu empresa o negocio.</p>
                        </div>
                        <img src="https://tailus.io/sources/blocks/end-image/preview/images/graphic.svg" 
                        class="w-2/3 ml-auto -mb-12 block mx-auto p-2 md:mx-auto hover:rotate-2 transition ease-in-out delay-75 duration-150" alt="illustration" loading="lazy" width="900" height="600">
                    </div>
                    <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                        <div class="mb-12 space-y-4">
                            <h3 class="text-2xl font-semibold text-blue-900">Sitios Web Estaticos</h3>
                            <p class="mb-6">La mejor forma para atraer nuevos clientes, socios o inversionistas para tu negocio es teniendo presencia en la web y que mejor manera de hacerlo que con tus propias ideas que identifiquen con la identidad de tu marca.</p>
                        
                        </div>
                        <img src="https://tailus.io/sources/blocks/end-image/preview/images/ui-design.svg" 
                        class="w-2/3 ml-auto -mb-12 block mx-auto p-2 md:mx-auto hover:rotate-2 transition ease-in-out delay-75 duration-150" alt="illustration" loading="lazy" width="900" height="600">
                    </div>
                    <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                        <div class="mb-12 space-y-4">
                            <h3 class="text-2xl font-semibold text-blue-900">Aplicaciones Web</h3>
                            <p class="mb-6">Necesitas una aplicación en la cual tus clientes interactuaran, en donde ofrecerás productos, servicios o información relevante, hay muchas maneras de hacerlo y siempre habrá una alternativa que se ajuste a tus necesidades.</p>
                        </div>
                        <img src="https://tailus.io/sources/blocks/end-image/preview/images/ux-design.svg" 
                        class="w-2/3 ml-auto -mb-12 block mx-auto p-2 md:mx-auto hover:rotate-2 transition ease-in-out delay-75 duration-150 " alt="illustration" loading="lazy" width="900" height="600">
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</clients>