<experiences>
    <section id= "Experiencia">
    <div class="flex flex-wrap justify-center gap-12 container mx-auto py-8 bg-gray-50">
    <div class=" text-center text-4xl text-sky hover:text-blue-800 duration-500 font-medium leading-tight mb-5 capitalize">
        <h1>Mis Experiencias</h1>
        <hr class="border-4 border-gray-500 cursor-pointer hover:border-blue-400 duration-500" />
    </div>
    <div class="flex flex-wrap justify-center gap-12 container mx-auto bg-gray-50">
        
        <!-- Style 1 -->
        <div class="w-[360px] h-[480px] py-8 px-1">
            <div
                class="relative flex flex-col justify-center items-center w-[300px] h-[400px] mx-auto p-2 bg-slate-50 border-slate-900 text-slate-50 shadow-lg rounded-3xl hover:shadow-xl">
    
                <h3 class="absolute -top-5 -left-5 w-32 p-2 bg-slate-800 rounded-3xl text-2xl font-merriweather text-center">
                    RaspCorp
                </h3>
    
                <a href=""
                    class="block w-full mx-auto p-2 md:mx-auto hover:rotate-2 transition ease-in-out delay-75 duration-150">
                    <img src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/rasp.jpg" alt="Eazy IP Web app showcase mockup" class="object-fill">
                </a>
    
                <p
                    class="absolute -bottom-12 left-6 w-[300px] p-4 bg-inherit border-slate-900 text-slate-900 border shadow-lg rounded-3xl hover:text-black hover:shadow-xl">
                    Un emprendimiento en el cual trabaje junto a un grupo increible para poder acercar la tecnologia a pequeños
                    y medianos productores agricolas con el fin de que pudieran mejorar sus procesos.
                </p>
            </div>
        </div>
    
        <!-- Style 2 -->
        <div class="w-[360px] h-[480px] py-8 px-1">
            <div
                class="relative flex flex-col justify-center items-center w-[300px] h-[400px] mx-auto p-2 bg-slate-50 border-slate-900 border-2 rounded-3xl">
    
                <h3
                    class="absolute -top-5 -left-5 w-32 p-2 bg-inherit border-slate-900 text-slate-900 border-2 rounded-3xl text-2xl font-merriweather text-center">
                    Andessy
                </h3>
    
                <a href="" 
                    class="block w-full mx-auto p-2 md:mx-auto hover:rotate-2 transition ease-in-out delay-75 duration-150">
                    <img src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/andessy.png" alt="Eazy IP Web app showcase mockup" class="object-fill">
                </a>
    
                <p class="absolute -bottom-12 left-6 w-[300px] p-4 bg-slate-800 text-slate-50 rounded-3xl hover:text-white">
                   El lugar donde creci como desarrollador en la nube, aprendi de infraestructura en la nube, servidores,
                    seguridad, desarrollo, investigacion aplicacion de la nube entre muchas otras cosas.

                </p>
            </div>
        </div>

        <div class="w-[360px] h-[480px] py-8 px-1">
            <div
                class="relative flex flex-col justify-center items-center w-[300px] h-[400px] mx-auto p-2 bg-slate-50 border-slate-900 text-slate-50 shadow-lg rounded-3xl hover:shadow-xl">
    
                <h3 class="absolute -top-5 -left-5 w-32 p-2 bg-slate-800 rounded-3xl text-2xl font-merriweather text-center">
                   Banco de Bogota
                </h3>
    
                <a href=""
                    class="block w-full mx-auto p-2 md:mx-auto hover:rotate-2 transition ease-in-out delay-75 duration-150">
                    <img src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/banco.webp" alt="Eazy IP Web app showcase mockup" class="object-fill">
                </a>
    
                <p
                    class="absolute -bottom-12 left-6 w-[300px] p-4 bg-inherit border-slate-900 text-slate-900 border shadow-lg rounded-3xl hover:text-black hover:shadow-xl">
                    Mi trabajo actual y en donde aplico y aprendo siempre algo nuevo con un gran grupo profesional, me enfoco en desarrollos en la nube y sobre todo en buscar soluciones
                      a problematicas de manera efectiva. 
                </p>
            </div>
        </div>

    </div>
</div>
</section>
</experiences>