<front_page>
    <section class="relative py-36 px-4">
        <div class="z-20 relative text-cyan-600/100 hover:text-blue-200 duration-500 container mx-auto grid grid-cols-6 gap-4">
          <div class = " col-span-12">
          <h1 class="mb-14 text-right font-serif text-3xl "> "Aprende lo que te apasiona, <br> date nuevas oportunidades para crecer"</h1>
        </div>
        </div>
        <div class="absolute inset-0 h-auto z-10 mb-9">
          <img src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/banner_blue.jpeg" alt="" class="h-full w-full object-fit-cover">
        </div>
      </section> 
</front_page>