<skills>
    <br>
    
    <section class ="container mx-auto px-4 md:container md:mx-auto mb-8 " id = "Habilidades">
      <div class=" text-center text-4xl text-sky hover:text-blue-800 duration-500 font-medium leading-tight mb-8 capitalize">
        <h1>Mis Habilidades</h1>
        <hr class="border-4 border-gray-500 cursor-pointer hover:border-blue-400 duration-500" mb-8/>
    </div>
    <div id="container" class="w-4/5 mx-auto">
        <div class="flex flex-col sm:flex-row">
          <!-- Card 1 -->
          <div class="sm:w-1/4 p-2">
            <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
              <div class="mb-3">
                <img
                  class="w-auto mx-auto rounded-full"
                  src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/aws.png"
                  alt=""
                />
              </div>
              <h2 class="text-xl font-medium text-gray-700">AWS</h2>
              <p class=" text-xs text-black mb-5">La plataforma en la nube m치s adoptada y completa en el mundo.</p>
            </div>
          </div>
    
          <!-- Card 2 -->
          <div class="sm:w-1/4 p-2">
            <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
              <div class="mb-3">
                <img
                  class="w-auto mx-auto rounded-full"
                  src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/python.png"
                  alt=""
                />
              </div>
              <h2 class="text-xl font-medium text-gray-700">Python</h2>
              <span class="text-xs text-black mb-5">Lenguaje, 
                puede ser usado para casi todo</span>
            </div>
          </div>
    
          <!-- Card 3 -->
          <div class="sm:w-1/4 p-2">
            <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
              <div class="mb-3">
                <img
                  class="w-auto mx-auto rounded-full"
                  src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/js.jpg"
                  alt=""
                />
              </div>
              <h2 class="text-xl font-medium text-gray-700">JavaScript</h2>
              <span class="text-xs text-black mb-5">Lenguaje de programaci칩n interpretado</span>
            </div>
          </div>
    
          <!-- Card 4 -->
          <div class="sm:w-1/4 p-2">
            <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
              <div class="mb-3">
                <img
                  class="w-auto mx-auto rounded-full"
                  src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/tail.png"
                  alt=""
                />
              </div>
              <h2 class="text-xl font-medium text-gray-700">Tailwind</h2>
              <span class="text-xs text-black mb-5">Framework de CSS para el dise침o de p치ginas web</span>
            </div>
          </div>
          <div class="sm:w-1/4 p-2">
            <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
              <div class="mb-3">
                <img
                  class="w-auto mx-auto rounded-full"
                  src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/react.jpeg"
                  alt=""
                />
              </div>
              <h2 class="text-xl font-medium text-gray-700">React</h2>
              <span class="text-xs text-black mb-5">Una biblioteca de JavaScript para construir interfaces de usuario.</span>
            </div>
          </div>
          <div class="sm:w-1/4 p-2">
            <div class="bg-white px-6 py-8 rounded-lg shadow-lg text-center">
              <div class="mb-3">
                <img
                  class="w-auto mx-auto rounded-full"
                  src="https://web-site-deivydumb.s3.amazonaws.com/assets/img/git.png"
                  alt=""
                />
              </div>
              <h2 class="text-xl font-medium text-gray-700">GitHub</h2>
              <span class="text-xs text-black mb-5">
                Forja para alojar proyectos utilizando el sistema de control de versiones Git</span>
            </div>
          </div>
        </div>
      </div>
    </section>
</skills>